<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Commandant de bord</title>
    <link rel="stylesheet" href="static/style.css"/>
</head>
<body>


<h2>Liste des personnes enregistrées</h2>
{% if passagers %}
    {% for passager in passagers %}
        <p>n° passeport: {{passager['passeportid'] }}<br>
            nom du passager: {{ passager['name']}}<br>
            prénom du passager: {{ passager['firstname'] }}<br>
            poids du bagage: {{ passager['poid'] }}<br>
    {% endfor %}

{% endif %}

{% if poid %}
<h1>Poid total embarqué:  </h1> <h1>{{poid}}</h1>
{% endif %}



<h2> Liste des passagers embarques</h2>

{% if data2 %}
    {% for qqun in passagers %}
        <p>n° passeport: {{qqun['passeportid'] }}<br>


    {% endfor %}
{% endif %}



<a class="lien" href={{url_for('page_index')}}> Retour a accueil</a>
</body>
</html>