<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Embarquement d'un passager</h1>

<form method="POST" id="form_1">
    <div class="form-example">
        <label for="passportid">N° passeport: </label>
        <input type="text" name="passeportid" id="passportid" required/>
    </div>

    <div>
        <button type="submit" id='btn1' name="button_save">Enregistrer</button>
        <button type="submit" id='btn2' name="button_cancel">Annuler</button>

    </div>
</form>


</body>
</html>