<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="static/style.css"/>
</head>
<body>

<h1> Page Accueil</h1>

<br><br><br><br><br><br>



<div class="grandeboite1"> <a class="lien" href={{url_for('page_bagages')}}>lien vers la page enregistrement des bagages</a><br><br><br></div>
<div class="grandeboite2"> <a class="lien" href={{url_for('page_embarquement')}}>lien vers la page controle des embarquements</a><br><br><br></div>
<div class="grandeboite3"> <a  class="lien" href={{url_for('page_cdbord')}}>lien vers la page du commandant de bord</a>
</div>


</body>
</html>